<!--Reactive Form Exemple de base-->
<form>
  <label>Formulaire dynamique: </label>
  <input type="text" [formControl]="favoriteColorControl">
</form>

<p>{{favoriteColorControl.getRawValue()}}</p>


<!--Reactive Form Exemple avec FormGroupe -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name"> First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name"> Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">
  <button type="submit">Submit</button>
</form>

<button (click)="updateForm()">Change Form Value</button>

<p>{{profileForm.getRawValue().firstName}}</p>
<p>{{profileForm.getRawValue().lastName}}</p>



<!--Template-driven Form-->
<label>Formulaire NgModel: </label>
<input type="text" [(ngModel)]="favoriteColor">

<p>{{favoriteColor}}</p>


