<!-- app.component.html -->
<div class="header">
  <nav>
    <ul>
      <li><a routerLink="/home">Accueil</a></li>
      <li><a routerLink="/list">Liste</a></li>
      <li><a routerLink="/manage">Gestion</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<div class="footer">
  <p>&copy; 2024 Mon Application - Tous droits réservés</p>
  <button class="footer-button">Contact</button>
</div>


<!--<p *ngIf="false">toto</p>-->
<!--@if (false) {-->
<!--  <p>je m'affiche</p>-->
<!--}-->

<!--<p *ngFor="let item of list">-->
<!--  {{item}}-->
<!--</p>-->

<!--@for (item of list; track $index) {-->
<!--  <p>{{item}}</p>-->
<!--}-->
<!--<p [ngClass]="color">ngClass</p>-->

<!--<app-toto (colorChange)="updateColor($event)"></app-toto>-->
